

body{
    background: #303030;
    display: flex;
    justify-content: center;
    width: 100%;
}

input[type=text] {
    width: 50px;
    height: 50px;
    margin: 30px;
    padding: 0 15px;
    border: 4px solid royalblue;
    border-radius: 30px;
    background-image: none;
    color: #fff;
    outline: none;
    box-shadow: 0 0 20px lightskyblue;
    font-size: 1.2rem;
    transition: 1s ease-in-out;

}

input::placeholder{
    color:transparent;
    transition: 1s ease-out;

}

input[type=text]:hover{
    width: 300px;
    text-align: center;

}

input:hover::placeholder{
    color: rgb(79, 96, 136);
    
}

button {
    background-color: transparent;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    box-shadow: 0 0 20px;
    color: #75c8dc;
}

.col {
     padding: 10px; /* Espaçamento em todas as direções */
  padding-left: 20px; /* Espaçamento específico à esquerda */
  margin-bottom: 20px;
  margin-top: 20px;
}
